/* Colors */
$background-color-start: #3a2a5a !default; // Dark Purple
$background-color-end: #1e3d58 !default; // Deep Blue
$text-color: #eaeaea !default;  // Light text color
$primary-color: #6a4c9c !default;  // Purple for highlights
$secondary-color: #00adb5 !default;  // Aqua Blue for accents

/* Gradient Background */
html, body {
  background: linear-gradient(135deg, $background-color-start, $background-color-end) !important;  // Gradient mix of blue and purple
  color: $text-color !important;  // Ensuring text color is light
}

/* Links and hover states */
a {
  color: $primary-color !important;
}

a:hover {
  color: $secondary-color !important;
}

/* Header, site navigation, and footer */
.site-title, .site-title:visited, .site-nav, .page-link {
  color: $text-color !important;
}

.site-nav {
  background-color: $background-color-start !important;
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: $text-color !important;
}

/* Buttons */
.btn {
  background-color: $secondary-color !important;
  color: $text-color !important;
  border-color: $primary-color !important;
}

.btn:hover {
  background-color: $primary-color !important;
}

/* Table colors */
table th, table td {
  background-color: $background-color-start !important;
  color: $text-color !important;
  border-color: $primary-color !important;
}

/* Other areas */
.post-meta {
  color: $text-color !important;
}
.post-content p, .post-content li {
  color: $text-color !important;
}

/* Custom backgrounds */
pre, code {
  background-color: $background-color-start !important;
  color: $text-color !important;
}

li .post-meta-description {
  color: $text-color !important;
}

/* Search Result */
.search-result-title {
  color: $primary-color !important;
}

.search-result-highlight {
  color: yellow !important;
  font-weight: bold !important;
}

.flash {
  color: $text-color !important;
  filter: brightness(80%) !important;
}

canvas {
  filter: var(--default-canvas-filter);
}
